version: "3.9"

services:
  api:
    image: rguardado/backend-rosas:latest
    container_name: api
    restart: always
    ports:
      - "7001:7001"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - internal_network

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command: >
      redis-server
      --appendonly yes
      --protected-mode no
      --bind 0.0.0.0
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - internal_network

networks:
  internal_network:
    driver: bridge

volumes:
  redis_data:
