services:
  api:
    image: rguardado/api-rosas:latest
    container_name: api
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "7001:7001"

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
      --protected-mode no
      --bind 0.0.0.0
    volumes:
      - redis_data:/data

volumes:
  redis_data:
